.lgi-attrs {
	display: inline-block;	
}

.action {
	&-header {
		.btn {
		    margin-top: -6px;
		    margin-bottom: -5px;			
		}
	}
}

.select2 {
	display: block !important;
	width: 100% !important;
}

.category-item {
    margin-bottom: 30px;
    height: 100px;
    padding: 10px;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    padding-left: 125px;
    line-height: 100px;
    padding-top: 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 30px;    
    &__folder {
	    background-color: #f1f1f1;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100px;
	    height: 100px;
	    font-size: 34px;
	    text-align: center;
	    line-height: 100px;    	
    }
    &__counter {
	    position: absolute;
	    font-size: 12px;
	    top: 3px;
	    right: 4px;    	
    }
    &__description {
    	position: absolute;
    	left: 125px;
    	top: 20px;
    	font-size: 13px;
    	font-weight: 600;
    	color: #5e5e5e;    	
    }
    &__menu {
	    position: absolute;
	    top: -24px;
	    right: 19px;    	
    }
}

.robot {
	&-info {
	    color: #bbb;
	    font-size: 12px;
	    font-weight: 700;		
	}
}

.comment {
	&-item {
	    border-bottom: 1px solid #efefef;
	    padding: 12px 0;		
		&__header {
		    font-size: 15px;
		    color: #888;
		    padding-bottom: 12px;
		}
		&__date {
		    font-weight: 700;
		    font-size: 13px;
		}
		&__text {
		    font-size: 16px;
		}
	}
}