.lgi-attrs {
	display: inline-block;	
}

.action {
	&-header {
		.btn {
		    margin-top: -6px;
		    margin-bottom: -5px;			
		}
	}
}

.select2 {
	display: block !important;
	width: 100% !important;
}